* {
  box-sizing: border-box;
  margin: 0 auto;
}
body {
  font-family: 'Noto Sans', sans-serif;
}

h1, h2 {
  font-family: 'Playfair Display', serif;
}

.container{
  max-height: 800px;
  height: 100vh;
}

.bg {
  width: 100%;
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}


.navbar > nav {
  padding: 1rem;
  text-align: center;
}

.logo {
  color: #3d3d3d;
  font-family: 'Pattaya', sans-serif;
  font-size: 2.2rem;
  text-decoration: none;
}

.heading-div {
  margin: 1.5rem 3rem 3rem;
  text-align: right;
}

/* Homepage */

.homepage-bg {
  background-image:
    linear-gradient(
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.4)
    ),
    url("../images/home-bg.jpg");
    height: 100vh;
}

.homepage-title {
  color: #3d3d3d;
  font-size: 75px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

span {
  margin: 0;
}

.main-btn-div {
  margin-bottom: 2rem;
  display: flex;
}

.main-btn-div > a {
  background-color: #dddddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #3d3d3d;
  font-family: 'Playfair Display SC', serif;
  font-size: 1.5rem;
  font-weight: 600;
  opacity: 90%;
  padding: 1.2rem 4.5rem;
  text-align: center;
  text-decoration: none;
}


/* Stay In Page */

.stay-in-bg {
  background-image:
    linear-gradient(
    rgba(255, 255, 255, 0.42),
    rgba(255, 255, 255, 0.42)
    ),
    url("../images/stay-in-bg.jpg");
    height: 100vh;
}

.stay-in-title {
  color: #3d3d3d;
  font-size: 75px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

#alcohol-selection {
    display: block;
    font-size: 1.3rem;
    font-family: 'Noto Sans', sans-serif;
    color: #3d3d3d;
    line-height: 1.5;
    padding: 1.3rem 1.4rem 1.3rem .8rem;
    width: 80%;
    max-width: 100%; /* useful when width is set to anything other than 100% */
    margin: 0 auto;
    border: 1px solid rgb(180, 179, 179);
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: 8px;
    background-color: #f3f3f3;
}

.stayin-btn-div {
  display: flex;
  margin-top: 3rem;
}

.stayin-btn-div > button {
  background-color: #dddddd;
  border: 1px solid #a8a8a8;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(151, 151, 151, 0.19);
  color: #3d3d3d;
  font-family: 'Playfair Display SC', serif;
  font-size: 1.5rem;
  font-weight: 600;
  opacity: 90%;
  padding: 1rem 4rem;
  text-align: center;
  text-decoration: none;
}

#stayin-submit-btn > a {
  text-decoration: none;
  color: #3d3d3d;
}

/*Recipe Page*/
.recipe-bg {
  background-color: #d7edff;
  height: 100vh;
}

.recipe-title > h2 {
  font-size: 2.2rem;
  margin: 1.5rem auto;
  text-align: center;
}

.recipe-content, .brewery-content {
  background-color: #ffffff;
  border-radius: 5px;
  width: 80%;
  padding: 1rem;
  display: flex;
}

.recipe-img {
  height: 100px;
  width: 100px;
}

/* Go Out Page*/


.white {
  color: #f3f3f3;
}

.go-out-bg {
  background-image:
    linear-gradient(
    rgba(0, 0, 0, 0.25),
    rgba(0, 0, 0, 0.25)
    ),
    url("../images/go-out-bg1.jpg");
    height: 100vh;
}

.go-out-title {
  color: #f3f3f3;
  font-size: 75px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.city-text-input {
  display: flex;
}

.city-text-input > input {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.3rem;
  margin: auto;
  padding: 1.2rem 1.5rem 1.2rem 2rem;
}

.go-out-btn-div {
  display: flex;
  margin-top: 3rem;
}

.go-out-btn-div > button {
  background-color: #a7a7a7;
  border: 1px solid #a8a8a8;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(151, 151, 151, 0.19);
  color: #fcfcfc;
  font-family: 'Playfair Display SC', serif;
  font-size: 1.5rem;
  font-weight: 600;
  opacity: 90%;
  padding: 1rem 4rem;
  text-align: center;
  text-decoration: none;
}

#brewery-submit-btn > a {
  text-decoration: none;
  color: #fcfcfc;
}

/*brewery page*/

.brewery-bg {
  background-image:
    linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
    ),
    url("../images/brewery-bg.jpg");
  background-attachment: fixed;
  }

.brewery-title > h2 {
  color: #f3f3f3;
  font-size: 1.8rem;
  margin: 1.5rem auto 2.5rem;
  text-align: center;
}

.brewery-content {
  opacity: 82%;
  display:flex;
  flex-direction: column;
  text-align: center;
}


.info-title {
  font-family: 'Playfair Display SC', serif;
  text-decoration-line: underline;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.try-again-btn {
  background-color: #a7a7a7;
  border: 1px solid #a8a8a8;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(151, 151, 151, 0.19);
  color: #fcfcfc;
  font-family: 'Playfair Display SC', serif;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem 4rem;
  text-align: center;
  text-decoration: none;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.mb-2rem {
  margin-bottom: 2rem;
}

li {
  list-style: none;
}
