/*General */

* {
  box-sizing: border-box;
  margin: 0 auto;
}

body {
  color: #3d3d3d;
  font-family: 'Noto Sans', sans-serif;
}

h1, h2 {
  font-family: 'Playfair Display', serif;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

span {
  margin: 0;
}

.bg {
  width: 100%;
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}

.logo {
  font-family: 'Pattaya', sans-serif;
  font-size: 2rem;
  text-decoration: none;
}

.heading-div {
  margin: 2.5rem 3rem 4rem;
}

.a-styling {
  background-color: #dddddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: 'Playfair Display SC', serif;
  font-size: 1.5rem;
  font-weight: 600;
  opacity: 92%;
  padding: 1.1rem 3rem;
  text-decoration: none;
}

button, .try-again-btn {
  background-color: #a7a7a7;
  border: 1px solid #a8a8a8;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(151, 151, 151, 0.19);
  color: #fcfcfc;
  font-family: 'Playfair Display SC', serif;
  font-size: 1.4rem;
  font-weight: 600;
  opacity: 95%;
  padding: 1rem 2.7rem;
  text-decoration: none;
}

/* Homepage */

.homepage-bg {
  background-image: linear-gradient( rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url("../images/home-bg.jpg");
}

/* Stay In Page */

.stay-in-bg {
  background-image: linear-gradient( rgba(255, 255, 255, 0.42), rgba(255, 255, 255, 0.42)), url("../images/stay-in-bg.jpg");
}

#alcohol-selection {
  display: block;
  font-size: 1.3rem;
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.5;
  padding: 1.3rem 1.4rem 1.3rem .8rem;
  width: 80%;
  max-width: 100%;
  /* useful when width is set to anything other than 100% */
  margin: 0 auto;
  border: 1px solid rgb(180, 179, 179);
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
  border-radius: 8px;
  background-color: #f3f3f3;
}

/* Go Out Page*/

.go-out-bg {
  background-image: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../images/go-out-bg1.jpg");
}

.city-text-input>input {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.3rem;
  margin: auto;
  padding: 1.2rem 1.5rem 1.2rem 2rem;
}

/*Recipe Page*/

.recipe-bg {
  background-color: #d7edff;
}

.recipe-content, .brewery-content {
  border-radius: 5px;
  width: 85%;
}

.drink-img-size {
  height: 230px;
  width: 230px;
}

#alcohol-title {
  text-transform: capitalize;
}

/*brewery page*/

.brewery-bg {
  background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/brewery-bg.jpg");
  background-attachment: fixed;
}

.brewery-title, .recipe-title {
  margin: 1.5rem auto;
}

.info-title {
  font-family: 'Playfair Display SC', serif;
  text-decoration-line: underline;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Utility Classes */

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.padding-1 {
  padding: 1rem;
}

.color-dark-gray {
  color: #3d3d3d;
}

.color-light {
  color: #f3f3f3;
}

.bg-color-white {
  background-color: #ececec;
}

.mb-2rem {
  margin-bottom: 2rem;
}

.mt-3rem {
  margin-top: 3rem
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.text-dec-none {
  text-decoration: none;
}

.font-2rem {
  font-size: 2rem;
}

.font-4rem {
  font-size: 4rem;
}

.height-100vh {
  height: 100vh;
}

.width-100 {
  width: 100%;
}

.margin-auto {
  margin: auto;
}
