* {
  box-sizing: border-box;
  margin: 0 auto;
}
body {
  font-family: 'Noto Sans', sans-serif;
}

h1 {
  font-family: 'Playfair Display', serif;
}

.container{
  max-height: 800px;
  height: 100vh;
}

.bg {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}


.navbar > nav {
  padding: 1rem;
  text-align: center;
}

.logo {
  color: #3d3d3d;
  font-family: 'Pattaya', sans-serif;
  font-size: 2.2rem;
}

.heading-div {
  margin: 1.5rem 3rem 3rem;
  text-align: right;
}

/* Homepage */

.homepage-bg {
  background-image:
    linear-gradient(
    rgba(255, 255, 255, 0.35),
    rgba(255, 255, 255, 0.35)
    ),
    url("../images/home-bg.jpg");
}

.homepage-title {
  color: #3d3d3d;
  font-size: 75px;
  text-align: right;
  display: flex;
  flex-direction: column;
}

span {
  margin: 0;
}

.main-btn-div {
  margin-bottom: 2rem;
  display: flex;
}

.main-btn-div > a {
  background-color: #dddddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #3d3d3d;
  font-family: 'Playfair Display SC', serif;
  font-size: 1.5rem;
  font-weight: 600;
  opacity: 90%;
  padding: 1.2rem 4.5rem;
  text-align: center;
  text-decoration: none;
}


/* Stay In Page */

.stay-in-bg {
  background-image:
    linear-gradient(
    rgba(255, 255, 255, 0.42),
    rgba(255, 255, 255, 0.42)
    ),
    url("../images/stay-in-bg.jpg");
}

.stay-in-title {
  color: #3d3d3d;
  font-size: 75px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

#alcohol {
    display: block;
    font-size: 1.3rem;
    font-family: 'Noto Sans', sans-serif;
    color: #3d3d3d;
    line-height: 1.5;
    padding: 1.3rem 1.4rem 1.3rem .8rem;
    width: 80%;
    max-width: 100%; /* useful when width is set to anything other than 100% */
    margin: 0 auto;
    border: 1px solid rgb(180, 179, 179);
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: 8px;
    background-color: #f3f3f3;
}

.stayin-btn-div {
  display: flex;
  margin-top: 3rem;
}

.stayin-btn-div > button {
  background-color: #dddddd;
  border: 1px solid #a8a8a8;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(151, 151, 151, 0.19);
  color: #3d3d3d;
  font-family: 'Playfair Display SC', serif;
  font-size: 1.5rem;
  font-weight: 600;
  opacity: 90%;
  padding: 1rem 4rem;
  text-align: center;
  text-decoration: none;
}

/* Go Out Page*/


.white {
  color: #f3f3f3;
}

.go-out-bg {
  background-image:
    linear-gradient(
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
    ),
    url("../images/go-out-bg1.jpg");
}

.go-out-title {
  color: #f3f3f3;
  font-size: 75px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.city-text-input {
  display: flex;
}

.city-text-input > input {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.3rem;
  margin: auto;
  padding: 1.2rem 1.5rem 1.2rem 2rem;
}

.go-out-btn-div {
  display: flex;
  margin-top: 3rem;
}

.go-out-btn-div > button {
  background-color: #a7a7a7;
  border: 1px solid #a8a8a8;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(151, 151, 151, 0.19);
  color: #f7f7f7;
  font-family: 'Playfair Display SC', serif;
  font-size: 1.5rem;
  font-weight: 600;
  opacity: 90%;
  padding: 1rem 4rem;
  text-align: center;
  text-decoration: none;
}
