body {
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

.loaded {
  opacity: 1;
}

@media only screen and (min-width: 600px) and (max-width: 850px) and (orientation: landscape) {
  main {
    display: flex;
  }
  .logo {
    font-size: 1.5rem;
  }
  .main-title {
    font-size: 3.5rem;
    margin: 0;
    text-align: center;
  }
  .heading-div {
    margin: 1rem auto;
  }
  .button-container {
    margin: 3.5rem auto;
  }
  .homepage-bg {
    background-image: linear-gradient( rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url("../images/home-bg.jpg");
    height: 100vh;
  }
  #alcohol-selection, #city-text-input {
    font-size: 1rem;
    width: 250px;
  }
  .a-main, button, .try-again-btn {
    font-size: 0.9rem;
    width: 200px;
  }
  .main-list {
    flex-direction: column;
  }
  .recipe-content, .brewery-content {
    text-align: center;
    width: 68%;
    opacity: 95%;
  }
  .drink-img-size {
    height: 260px;
    width: 260px;
  }
  ul {
    width: 80%;
  }
}

@media only screen and (min-width: 850px) and (orientation: landscape) {
  .logo {
    font-size: 2.5rem;
  }
  .main-title {
    font-size: 5rem;
    text-align: center;
  }
  #alcohol-selection, #city-text-input {
    font-size: 1rem;
    width: 40%;
  }
  .a-main, button, .try-again-btn {
    width: 25%;
  }
  .recipe-content, .brewery-content {
    text-align: center;
    width: 60%;
    opacity: 95%;
  }
  .drink-img-size {
    height: 300px;
    width: 300px;
  }
}

@media only screen and (min-width: 400px) and (orientation: portrait) {
  .logo {
    font-size: 3rem;
  }
  .main-title {
    font-size: 6rem;
    text-align: center;
    margin: 5rem;
  }

  #alcohol-selection, #city-text-input {
    font-size: 1.3rem;
    width: 60%;
    padding: 1.5rem;
  }
  .a-main, button, .try-again-btn {
    font-size: 1.2rem;
    width: 42%;
    margin: 1rem auto;
    padding: 1.5rem;
  }
  .recipe-content, .brewery-content {
    text-align: center;
    width: 65%;
    opacity: 95%;
  }
  .drink-img-size {
    height: 350px;
    width: 350px;
  }

  h2 {
    font-size: 2rem;
    margin: 3.5rem auto 2.5rem;
  }
  h3 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  h4 {
    font-size: 1.1rem;
  }
}
